@page "/result"
@using login.Data
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@inject NavigationManager NavigationManager
@inject ServerConnection connect
@using System.Timers

<div id="particle-container ">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>
<div class="container-login100 " style="background: -webkit-linear-gradient(-135deg, #FFEB26, #26FF93);
        background: -o-linear-gradient(-135deg, #FFEB26, #26FF93);
        background: -moz-linear-gradient(-135deg, #FFEB26, #26FF93);
        background: linear-gradient(-135deg, #FFEB26, #26FF93);">


    <div class="wrap-login99 roll-in-blurred-left" style="-webkit-box-shadow: 2px 50px 66px -37px rgba(0,0,0,0.38);
                                                                -moz-box-shadow: 2px 50px 66px -37px rgba(0,0,0,0.38);
                                                                    box-shadow: 2px 50px 66px -37px rgba(0,0,0,0.38); background: #50ff5e;">
        <label class="resultText" style="  font-weight: bold; color: #008b14"> @winnestudentname</label> <br />
        <label class="resultText" style="color: #008b14"> Right Answer : @wRa</label><br />
        <label class="resultText" style="color: #008b14"> Wrong Answer: @wWa </label><br />
        <label class="resultText" style="color: #008b14"> Time: @wT</label>
    </div> 0
    <div class="wrap-login99 slide-in-blurred-right" style="-webkit-box-shadow: 2px 50px 66px -37px rgba(0,0,0,0.38);
                                                                -moz-box-shadow: 2px 50px 66px -37px rgba(0,0,0,0.38);
                                                                    box-shadow: 2px 50px 66px -37px rgba(0,0,0,0.38); background: #ff5959;">
        <label class="resultText" style="font-weight: bold;color: #aa0202"> @looserStudentname</label> <br />
        <label class="resultText" style="color: #aa0202"> Right Answer : @lRa</label><br />
        <label class="resultText" style="color: #aa0202"> Wrong Answer: @lWa</label><br />
        <label class="resultText" style="color: #aa0202"> Time: @lT</label>
    </div>

    <svg viewBox="0 0 1000 150" style="display: @display1">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">YOU WIN!!!</text>
        </symbol>
        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
        

    </svg>
    <svg viewBox="0 0 1000 150" style="display: @display2">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">YOU LOSE!!!</text>
        </symbol>
        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy2"></use>
            <use xlink:href="#s-text" class="text-copy2"></use>
            <use xlink:href="#s-text" class="text-copy2"></use>
            <use xlink:href="#s-text" class="text-copy2"></use>
            <use xlink:href="#s-text" class="text-copy2"></use>
        </g>

    </svg>
    <a class="myButton" @onclick="go">Go To Dashboard</a>
</div>

@code {
    string winnestudentname,looserStudentname, lT, wT,display1, display2;
    int wRa, lRa, wWa, lWa,mID;
    bool win;
    string wlText,className;
    protected override async Task OnInitializedAsync()
    {
        if(await oLocalStore.GetItemAsync<string>("wname") == null)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            display1 = "none";
            display2 = "none";
            winnestudentname = await oLocalStore.GetItemAsync<string>("wname");
            looserStudentname = await oLocalStore.GetItemAsync<string>("lname");
            wRa = await oLocalStore.GetItemAsync<int>("wRa");
            wWa = await oLocalStore.GetItemAsync<int>("wWa");
            wT = await oLocalStore.GetItemAsync<string>("wT");
            lRa = await oLocalStore.GetItemAsync<int>("lRa");
            lWa = await oLocalStore.GetItemAsync<int>("lWa");
            lT = await oLocalStore.GetItemAsync<string>("lT");
            win = await oLocalStore.GetItemAsync<bool>("win");
            mID = await oLocalStore.GetItemAsync<int> ( "mID" );
            wWa = 5 - wRa;
            lWa = 5 - lRa;
            if (win == true)
            {
                display1 = "block";
            }
            else
            {
                display2 = "block";
            }
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }

    }

    public async void go()
    {
        oLocalStore.ClearAsync ();
        await Task.Run ( ( ) => connect.getInfoFromId ( mID ) );
        await oLocalStore.SetItemAsync ( "mail" , connect.secondstudent.mail );
        await oLocalStore.SetItemAsync ( "password" , connect.secondstudent.password );
        NavigationManager.NavigateTo("/dashboard");
    }
}

